@mixin hwb($height, $width, $bg-color) {
  height: $height;
  background-color: $bg-color;
  width: $width;
}
@mixin flex($jc: flex-start, $ai: flex-start, $fd: row, $fw: nowrap) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  flex-wrap: $fw;
}
