.double-swipe {
  overflow: hidden;
  border-color: blueviolet;
  color: blueviolet;
}

.double-swipe::before {
  content: "";
  height: 100%;
  width: 0%;
  background-color: blueviolet;
  z-index: -1;
  position: absolute;
  left: -10%;
  transform: skew(30deg);
  transition: all 0.5s;
}

.double-swipe::after {
  content: "";
  height: 100%;
  width: 0%;
  background-color: blueviolet;
  z-index: -1;
  position: absolute;
  right: -10%;
  transform: skew(-30deg);
  transition: all 0.5s;
}

.double-swipe:hover::before,
.double-swipe:hover::after {
  width: 71%;
}
