@import url("./btns.css");
@import url("./swipe.css");
@import url("./diagonal.css");
@import url("./double-swipe.css");
@import url("./diagonal-close.css");
@import url("./zoning-in.css");

* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
  font-family: cursive;
}

.container {
  width: 95%;
  max-width: 1400px;
  margin: auto;
}

.topic {
  text-align: center;
}

.m-3 {
  margin: 30px;
}

.m-4 {
  margin: 40px;
}

.row {
  display: flex;
  gap: 40px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
